@using System.Globalization
@model FinFlow.Models.BudgetModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Details</h1> *@

<div>
    <h4>Budget Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @{
                CultureInfo culture = new CultureInfo("en-MW");
                string formatted = Model.Amount.ToString("C", culture).Trim();
            }
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => formatted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.remindon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.remindon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="GenerateBudgetPdf">
        <input type="hidden" name="id" value="@Model?.Id" />
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a> |
        <input type="submit" value="Download" class="btn btn-primary" />
    </form>
</div>

<hr />
<div class="row">
    <div class="col-10">
        <h4>Budgeted Expenses</h4>
    </div>
    <div class="col-2">
        <a asp-action="Create" asp-controller="Expense" asp-route-BudgetID="@Model?.Id">Add an Expense</a>
    </div>
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Amount
            </th>
            <th>
                Quantity
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.expenses)
        {
            <tr>
                <td>
                    @item.Item.Name
                </td>
                <td>
                    @{
                        CultureInfo culture1 = new CultureInfo("en-MW");
                        string formatted1 = item.Amount.ToString("C", culture).Trim();
                    }
                    @formatted1
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Expense" asp-route-BudgetID="@Model?.Id" asp-route-ExpenseID="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="Expense" asp-route-BudgetID="@Model?.Id" asp-route-ExpenseID="@item.Id" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-controller="Expense" asp-route-BudgetID="@Model?.Id" asp-route-ExpenseID="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" style="text-align: right; font-weight: bold;">
                Subtotal:
            </td>
            <td>
                @{
                    // Calculate the subtotal
                    var subtotal = Model.expenses.Sum(x => x.Amount);
                    string formattedSubtotal = subtotal.ToString("C", culture).Trim();
                }
                @formattedSubtotal
            </td>
        </tr>
    </tfoot>
</table>