@using System.Globalization
@model IEnumerable<FinFlow.Models.ExpenseModel>

@{
    ViewData["Title"] = "Expense List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Index</h1> *@

<div class="row">
    <div class="col-10">
<h3>Expense List</h3>
    </div>
    <div class="col-2">
    <a asp-action="Create" class="btn btn-secondary px-4">New Expense</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>
            <td>
                    @{
                        CultureInfo culture = new CultureInfo("en-MW");
                        string formatted = item.Amount.ToString("C", culture).Trim();
                    }
                @Html.DisplayFor(modelItem => formatted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
